<h4>Criar um botão de Pagamento</h4>
                
<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" placeholder="Digite...">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" placeholder="Digite...">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" placeholder="Digite...">
</div>

<button type="submit" class="btn btn-primary">Submit</button>