<% include layout/header %>


<script src="/js/graficos.js"></script>

<div class="row">
    <div class="conversion_pie col-md-6">
        
    </div>
    
    <div class="merchant_order_column col-md-6">
        
    </div>
</div>

<div class="row">
    <div class="payment_status_pie col-md-6">
        
    </div>
    
    <div class="payment_status_column col-md-6">
        
    </div>
</div>

<div class="row">
    <div class="payment_methods_pie col-md-6">
        
    </div>
    
    <div class="payment_methods_column col-md-6">
        
    </div>
</div>


<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/modules/exporting.js"></script>

<% include layout/footer %>
